# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg-info/
.eggs/
.venv/
.venv*/
.env
.env.*
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# Build
build/
dist/
.cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
